
@import "color";


.contact-title{
  margin-top: 60px;
  margin-bottom: 40px;
}
.contact-item{
  color: $font-gray-color;
}

.contact-warp{
  margin-bottom: 40px;
  .contact-item{
    border-bottom: 2px solid $font-gray-color;
    &:last-child{
      border-bottom: 0;
    }
  }
}