.index-tit {
  margin-top: 50px;
  margin-bottom: 40px; }

.case-index-warp {
  width: 100%;
  overflow: hidden; }

.case-index-box:nth-child(4n-2) {
  opacity: 0;
  animation: case-box-animation .9s linear forwards;
  animation-play-state: paused; }
.case-index-box:nth-child(2n+1) {
  opacity: 0;
  animation: case-box-animation 1.2s .2s linear forwards;
  animation-play-state: paused; }
.case-index-box:nth-child(4n) {
  opacity: 0;
  animation: case-box-animation 1.5s .4s linear forwards;
  animation-play-state: paused; }

@keyframes case-box-animation {
  0% {
    transform: translateY(200px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.case-item-warp {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block; }
  .case-item-warp:hover .case-item-bg {
    opacity: 1; }
    .case-item-warp:hover .case-item-bg .case-item-bg-tit h3 {
      transform: translateY(0);
      opacity: 1; }
    .case-item-warp:hover .case-item-bg .case-item-bg-tit p {
      transform: translateY(0);
      opacity: 1; }
  .case-item-warp img {
    width: 100%; }

.case-item-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 100px;
  opacity: 0;
  transition: all 0.5s; }

.case-item-bg-tit h3 {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s; }
.case-item-bg-tit p {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s; }
.case-item-bg-tit a {
  color: white; }
  .case-item-bg-tit a:hover {
    color: white !important; }

.news-tags a {
  border-radius: 0 !important; }

.g-rect-path {
  fill: none;
  stroke-width: 2px;
  stroke: #d3dce6;
  stroke-linejoin: round;
  stroke-linecap: round; }

.g-rect-fill {
  fill: none;
  stroke-width: 2px;
  stroke: #707070;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 0, 400;
  stroke-dashoffset: 0;
  animation: lineMove 1s linear forwards;
  animation-play-state: paused; }

@keyframes lineMove {
  0% {
    stroke-dasharray: 0, 292; }
  100% {
    stroke-dasharray: 292, 292; } }
.case-index-more {
  margin-top: 40px; }
  .case-index-more a {
    font-size: 30px;
    padding: 5px 30px;
    border: 2px solid #707070;
    transition: all .2s; }
    .case-index-more a:hover {
      background-color: #0073ba;
      color: white !important;
      border: 0;
      border: 2px solid #0073ba; }

.circle-load-rect-svg, .circle-load-rect-svg-1 {
  top: 0px;
  left: 275px;
  position: absolute;
  z-index: -99; }

.circle-load-rect-svg-1 {
  left: 645px; }

.news-index {
  margin-top: 80px;
  margin-bottom: 80px; }

.news-item-warp {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99; }
  .news-item-warp label {
    color: #707070; }
  .news-item-warp h4 {
    height: 56px; }
    .news-item-warp h4 a:hover {
      color: inherit !important; }
  .news-item-warp span {
    border-right: 1px solid #707070;
    padding: 0 5px; }
    .news-item-warp span:last-child {
      border-right: 0; }
  .news-item-warp h4 a, .news-item-warp span, .news-item-warp label {
    transition: all 0.2s; }
  .news-item-warp:hover h4 a, .news-item-warp:hover span, .news-item-warp:hover label {
    text-shadow: -2px -1px 1px #bebebe; }

.flow-warp {
  padding: 80px 0;
  height: 658px;
  overflow: hidden; }

.flow-tit {
  color: white;
  margin-bottom: 40px; }

.flow-content {
  margin-top: 40px;
  padding: 50px 0;
  animation: flow-content-animation 2s 3s forwards;
  animation-play-state: paused; }
  .flow-content i {
    font-size: 174px; }

@keyframes flow-content-animation {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-500px); } }
.flow-num-box {
  overflow: hidden; }

.flow-num {
  margin-top: 40px;
  animation: flow-num-div-animation 2s 3s forwards;
  animation-play-state: paused; }
  .flow-num div:nth-child(1) {
    animation: proRotate 1s ease-in-out alternate none 1;
    animation-play-state: paused; }
  .flow-num div:nth-child(2) {
    animation: proRotate 2s ease-in-out  alternate none 1;
    animation-play-state: paused; }
  .flow-num div:nth-child(3) {
    animation: proRotate 3s ease-in-out  alternate none 1;
    animation-play-state: paused; }
  .flow-num div i {
    font-size: 300px; }

@keyframes proRotate {
  0% {
    transform: rotateY(-120deg) translateZ(-180px);
    opacity: 0; }
  100% {
    transform: rotateY(0deg) translateZ(0px);
    opacity: 1; } }
@keyframes flow-num-div-animation {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-500px); } }
.our-services-warp {
  position: relative; }

.our-services-item, .our-services-dt {
  border: 1px solid #ddd;
  display: inline-block;
  height: 268px;
  margin-bottom: 20px;
  padding-top: 30px;
  transition: all 0.5s; }
  .our-services-item:hover, .our-services-dt:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px 5px #e7e7e7; }
  .our-services-item:nth-child(2) i, .our-services-dt:nth-child(2) i, .our-services-item:nth-child(2) h3, .our-services-dt:nth-child(2) h3 {
    animation-delay: .3s; }
  .our-services-item:nth-child(3) i, .our-services-dt:nth-child(3) i, .our-services-item:nth-child(3) h3, .our-services-dt:nth-child(3) h3 {
    animation-delay: .6s; }
  .our-services-item h3, .our-services-dt h3 {
    opacity: 0;
    font-weight: bold;
    animation: ourSA1 2s forwards; }
  .our-services-item i, .our-services-dt i {
    line-height: 150px;
    font-size: 150px;
    color: #0073ba;
    opacity: 0;
    animation: ourSA1 2s forwards; }
  .our-services-item p, .our-services-dt p {
    font-size: 14px;
    color: #707070; }
  .our-services-item a:hover, .our-services-dt a:hover {
    color: inherit !important; }

.our-services-dt {
  position: absolute;
  left: 400px;
  top: 0;
  height: 556px;
  width: 340px;
  padding-top: 70px; }
  .our-services-dt h6 {
    margin: 20px 0; }
    .our-services-dt h6 span {
      color: #707070;
      padding: 0 10px; }

@keyframes ourSA1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
